<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @special_holiday_ctgr.title %>
</p>

<%= link_to 'Edit', edit_special_holiday_ctgr_path(@special_holiday_ctgr) %> |
<%= link_to 'Back', special_holiday_ctgrs_path %>
