<% provide(:title, '提出物一覧') %>
<h1>提出物一覧</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr align="center">
      <th class="centerized">提出先</th>
      <th class="centerized">提出期限</th>
      <th class="centerized">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr data-target-id="hist_1" align="center" style="cursor: pointer;">
      <th class="centerized">守屋大</th>
      <th class="centerized">2015/12/25</th>
      <th class="centerized">提出済み</th>
    </tr>
    <tr data-target-id="hist_2" align="center" style="cursor: pointer;">
      <th class="centerized">徳里　悠哉</th>
      <th class="centerized">2016/01/20</th>
      <th class="centerized">未提出</th>
    </tr>
  </tbody>
</table>
