<% provide(:title, '提出物一覧') %>
<h1>提出物一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<table class="table table-bordered table-condensed">
  <thead>
    <tr align="center">
      <th class="centerized">提出物</th>
      <th class="centerized">提出先</th>
      <th class="centerized">提出期限</th>
      <th class="centerized">ステータス</th>
      <th class="centerized">ファイル</th>
    </tr>
  </thead>
  <tbody>
    <tr data-target-id="hist_1" align="center">
      <th class="">11月分経費</th>
      <th class="centerized">守屋　大</th>
      <th class="centerized">2015/12/04</th>
      <th class="centerized">提出済み</th>
      <th class="">2015.11月度経費（柿本）.xlsx</th>
    </tr>
    <tr data-target-id="hist_2" align="center">
      <th class="">週報（12月第1週分）</th>
      <th class="centerized">徳里　悠哉</th>
      <th class="centerized">2015/12/11</th>
      <th class="centerized">未提出</th>
      <th class="">
        <div style="float:left;">
          <input type="file"/>
	</div>&nbsp;
	<button class="btn btn-default btn-xs" disabled>提出</button>
      </th>
    </tr>
  </tbody>
</table>
</div>
</div>
