<footer class="footer">
  <small>
    勤怠管理システム by <a href="http://www.linkage.jp.net/">柿本　玄</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
